
h1{
    background-color: #4aaaa5;
    color: black;
    text-align: center;
    font: 1em sans-serif;
}

#paragraph{
    height:250px;
    font-size: 24px;
    width: auto;
    position: absolute;
    bottom: 295px;
    left:16px;
    color: whitesmoke;
}
h3{
    height:120px;
    width: auto;
    position: absolute;
    bottom: 280px;
    left: 16px;
    color: whitesmoke;
}
h4{
    height:115px;
    width:auto;
    position: absolute;
    bottom:125px;
    left: 16px;
    color: whitesmoke;
}

body {
    
    background: url('img/dark-honeycomb.png') no-repeat; background-size: 100%}